.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Game {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  background-color: #383e49;
  min-height: 90vh;
}

.Left {
  border-style: inset;
  border-width: 5px;
  min-height: 85vh;
}

.Right {
  border-style: inset;
  border-width: 5px;
  min-height: 85vh;
}

.Organism {
  margin: 10px;
  list-style: none;
}

.OrganismsList {
  padding: 0px;
}