@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font: 1.5em "Press start 2P";
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #383e49;
  min-height: 90vh;
}

.Left {
  border-style: inset;
  border-width: 5px;
  height: 85vh;
  width: 30vw;
  overflow-y: scroll;
}

.Right {
  border-style: inset;
  border-width: 5px;
  height: 85vh;
  width: 30vw;
  overflow-y: scroll;
}

.ColumnTitle {
  font: 1em "Press start 2P";
  color: azure;
  padding: 10px;
}

.Organism {
  margin: 0;
  background-color: azure;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px inset;
}

.OrganismsList {
  padding: 0px;
}

.Reproduce {
  /* border: none;
  background: none; */
  width: 20%;
  height: 0;
  padding-top: 5%;
  padding-bottom: 15%;
}

.TraitsList {
  padding: 0px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  list-style: none;
}

.TraitEvolved {
  border: 5px inset rgba(248, 255, 148, 0.92);
  background-color: rgba(216, 224, 97, 0.92);;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.TraitUnevolved {
  border: 5px outset rgba(68, 190, 206, 0.8);
  background-color: rgba(104, 225, 241, 0.8);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Mutate {
  border: none;
  background: none;
  width: 100%;
  height: 0;
  padding-top: 20%;
  padding-bottom: 80%;
}
